<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning"
        tools:targetApi="31">
        <activity
            android:name=".ListViewCustomAdapter"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListView"
            android:exported="true"/>

        <activity
            android:name=".CustomisedAlertBoxes"
            android:exported="true" />
        <activity
            android:name=".DialogueBoxes"
            android:exported="false" />
        <activity
            android:name=".ViewBinding"
            android:exported="true" />
        <activity
            android:name=".SecondActivityLoginThroughFirebase"
            android:exported="false" />
        <activity
            android:name=".LoginThroughFirebase"
            android:exported="false" />
        <activity
            android:name=".SaveDatainFirebase"
            android:exported="true" />
        <activity
            android:name=".PassDataSecondActivity"
            android:exported="false" />
        <activity
            android:name=".PassDtatinActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivityExplicitIntent"
            android:exported="false" />
        <activity
            android:name=".ExplicitIntent"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="true" />
    </application>

</manifest>